*.pyc
*.pyo
__pycache__/



# Virtual environment
venv/
env/
ENV/
*.env


# Django-specific
*.sqlite3       # SQLite database (if you are using SQLite)
db.sqlite3      # SQLite database (specific filename)
media/          # User-uploaded files (if not storing them elsewhere)
static/         # Generated static files (could be handled by a CDN)


# Logs
*.log

# Django migrations (optional)
*/migrations/


# IDE/editor specific
.vscode/
.idea/

# Windows system files
Thumbs.db
ehthumbs.db
